@if (currentRecipe == null) {
    <div class="loader-container" [ngClass]="!currentRecipe ? 'loading' : ''">
        <div class="multi-spinner-container">
            <div class="multi-spinner">
                <div class="multi-spinner">
                    <div class="multi-spinner">
                        <div class="multi-spinner">
                            <div class="multi-spinner">
                                <div class="multi-spinner">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@else if (currentRecipe == 'not_found') {
    Recipe not found!
}
@else {
    <section class="recipe">
        <h1>{{ currentRecipe.name }}</h1>
        <img src="{{ currentRecipe.photos[0] }}"/>
        <section class="basic-information">
            <div class="entry preparation_time">
                <mat-icon>timer</mat-icon>
                <h2>Preparation</h2>
                <h3>{{ currentRecipe.time_preparation }} minutes</h3>
            </div>
            <div class="entry cooking_time">
                <mat-icon>outdoor_grill</mat-icon>
                <h2>Cooking</h2>
                <h3>{{ currentRecipe.time_cooking }} minutes</h3>
            </div>
            <div class="entry portions">
                <mat-icon>restaurant_menu</mat-icon>
                <h2>Portions</h2>
                <h3>{{ currentRecipe.portions_count }}</h3>
            </div>
        </section>
        <section class="ingredients section">
            <div class="header">
                Products Needed
            </div>
            <ul>
                @for (ingredient of currentRecipe.ingredients; track ingredient) {
                    <li>{{ ingredient }}</li>
                }
            </ul>
        </section>
        <section class="steps section">
            <div class="header">
                Steps
            </div>
            <ol>
                @for (step of currentRecipe.steps; track step) {
                    <li>{{ step }}</li>
                }
            </ol>
        </section>
    </section>
}