@if (!recipesLoaded) {
    <div class="loader-container" [ngClass]="!recipesLoaded ? 'loading' : ''">
        <div class="multi-spinner-container">
            <div class="multi-spinner">
                <div class="multi-spinner">
                    <div class="multi-spinner">
                        <div class="multi-spinner">
                            <div class="multi-spinner">
                                <div class="multi-spinner">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@else {
    <div class="categories">
        <h2>Filter by category:</h2>
        @for (category of categories; track category){
            <button mat-flat-button (click)="applyFilter(category)" [ngClass]="filters.includes(category) ? 'active' : ''">{{ category }}</button>
        }
    </div>
    @for (recipe of recipes; track recipe.id){
        <a class="recipe" [routerLink]="['/recipe', recipe.id]">
            <h3>{{ recipe.name }}</h3>
            <img src="{{ recipe.photos[0] }}"/>
        </a>
    }
}