@if (!recipesLoaded) {
    <div class="loader-container" [ngClass]="!recipesLoaded ? 'loading' : ''">
        <div class="multi-spinner-container">
            <div class="multi-spinner">
                <div class="multi-spinner">
                    <div class="multi-spinner">
                        <div class="multi-spinner">
                            <div class="multi-spinner">
                                <div class="multi-spinner">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@else {
    <button mat-fab extended class="random-recipe" (click)="randomRecipe()">
        <mat-icon>soup_kitchen</mat-icon>
        @if (locale == 'bg') {
            Зареди случайна рецепта
        }
        @else {
            Get a random recipe
        }
    </button>
    <div class="categories">
        @if (locale == 'bg') {
            <h2>Филтрирай по категория:</h2>
        }
        @else {
            <h2>Filter by category:</h2>
        }
        @for (category of categories.sort(); track category.key){
            <button mat-flat-button (click)="applyFilter(category.key)" [ngClass]="filters.includes(category.key) ? 'active' : ''">{{ category.wording.toUpperCase() }}</button>
        }
    </div>
    <mat-form-field class="searchbar">
        <input matInput type="text" (input)="search($event)" [placeholder]="searchbarPlaceholder">
        <mat-icon>search</mat-icon>
    </mat-form-field>
    @for (recipe of recipes; track recipe.id){
        <a class="recipe" [routerLink]="['/recipe', recipe.id]">
            <h3>{{ recipe.name }}</h3>
            <img src="{{ recipe.photos[0] }}"/>
        </a>
    }
}